body {
    padding-top: 3rem;
    font-family: 'Open Sans', sans-serif;

}

.first-element {
    text-align: center;
    height: 100%;
    padding-bottom: 10%;
}

.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
}

#intro {
    background-image: url("../IMG/Welcome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#endlicht {
    background-image: url("../IMG/Endlicht.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#main-logo {
    font-size: 4rem;
}

.HAB, .Endlicht, .kultur, .materialwart, .events, .marketing {
    position: relative;
    background-size: cover;
    background: no-repeat fixed center;
    height: 40vh;
    background-size: cover;
    min-height: 100%;

}

.HAB {
    background-image: url("../IMG/HAB.jpg");
}

.kultur {
    background-image: url("../IMG/kultur.jpeg");
}

.materialwart {
    background-image: url("../IMG/material.jpeg");
}

.events {
    background-image: url("../IMG/event.jpeg");
}

.marketing {
    background-image: url("../IMG/marketing.jpeg");
}

.Endlicht {
    background-image: url("../IMG/Endlicht.jpeg");
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 1;
}

.section {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.section .refHeader {
    padding-top: 5%;
    text-align: center;
}

.section .refP {
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: center;
}

.section-light {
    background-color: white;
}

.ptext .border {
    background-color: black;
    color: white;
    opacity: 0.6;
    padding: 1%;
}

#blueLink a{
    color: #005cbf;
}

#footerTop{
    padding-top: 1rem;
}
